
<nav class="navbar main">
  <div class="container navbar__row">
    <div class="logo"></div>
    <ul class="menu">
      <li class="menu__item menu__home">
        <a
          routerLink = ""
          [routerLinkActiveOptions] = "{ exact: true }"
          routerLinkActive='isActive'
          class="menu__link">Home
        </a>
      </li>
      <li class="menu__item">
        <a routerLink="/contacts" routerLinkActive='isActive' class="menu__link">Contacts</a>
      </li>
      <li class="menu__item">
        <a routerLink="/pet_projects" routerLinkActive='isActive' class="menu__link">Pet-projects</a>
      </li>
    </ul>
  </div>

</nav>

<div class="container">


  <router-outlet></router-outlet>
</div>





